In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, 7, np.nan])

dates = pd.date_range('20200101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2020-01-01  0.005808  1.234233  1.075447 -1.563637
2020-01-02 -1.261957 -0.718751 -0.961109 -0.639822
2020-01-03 -0.565815 -0.015640  0.395418 -0.515103
2020-01-04  0.389337  1.935719  0.430958  0.041198
2020-01-05 -0.402926  0.340141 -1.304395  0.431048
2020-01-06  1.338843 -0.869719 -1.392035 -0.237469