In [1]:
import pandas # package 内的依赖，需要在外部导入
import micropip
await micropip.install('http://127.0.0.1:8081/packages/data_api-0.1-py3-none-any.whl')

In [2]:
from data_api import DataAPI
api = DataAPI('CN', 'a8494857b72fa891e27fa95dc5a99448')

/lib/python3.8/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [4]:
await api.get_latest_trade_dates()

['2021-08-04']

In [5]:
await api.get_quote_by_symbol(symbol='000001', start_date='2021-08-01')

,symbol,trade_date,open,high,low,close,volume,adj_open,adj_high,adj_low,adj_close,adj_volume
0,000001,2021-08-02,17.64,18.14,17.18,18.01,115992263,17.64,18.14,17.18,18.01,115992263
1,000001,2021-08-03,17.99,18.15,17.66,17.89,89694857,17.99,18.15,17.66,17.89,89694857
2,000001,2021-08-04,18.04,18.07,17.60,17.81,72962008,18.04,18.07,17.60,17.81,72962008